/* ========== Base Styles ========== */

* {
	box-sizing: border-box;
	font-family: helvetica, sans-serif;
	font-size: 1em;	
}

svg {
	border: 0;
	margin: 0;
	padding: 0;
}

body {
	/* default font color*/
	color: grey;	
}

nav {
	text-align: center;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
li {
	padding: 10px;
	margin: 0;	
}

a {
	display: inline-block;
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
}

canvas { /* Credit to: https://treehouse-fewd-102.slack.com/archives/CAW4BE0G4/p1607963196381400?thread_ts=1607954899.380500&cid=CAW4BE0G4 */
  max-width: 100%;
  /*This was added because the canvas would grow with the browser window but not shrink*/
}



/* ========== Page Foundations ========== */

/* ==========
		These elements are specifically styled this way to make them easier to rearrange with media queries
		#grid-wrapper
		.page-content
	==========*/
#grid-wrapper {
	display: grid;
	grid-template-rows: 1fr;
	grid-gap: 0;
	grid-template-areas: 
		"header"
		"page-content";
}
.page-content {
	grid-area: page-content;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 
		"main-nav"
		"main-content";
}


#main-content {
	padding: 0 10px;
	background: white;
}

.main-content-row {
	/* ==========
		Used to differentiate rows in the layout
	==========*/
	display: grid;	
}

.button {
	/* ==========
		These are base styles for all buttons
	==========*/
	color: white;
	border: none;
	background: rgb(115, 119, 191);
	padding: .8em .8em;
	margin: .6em 0;
	border-radius: 5px;
}

/* ========== Header ========== */

header {
	background: rgb(116, 119, 191);
	color: white;
	fill: white;
	grid-area: header;
	padding: .4em;
	vertical-align: middle;
}

header div {
	float: right;
	width: 240px;
	display: flex;
	justify-content: center;
	align-items: center;
}


/* Logo */
.your-app {	
	float: left;
	font-size: 20px;
	margin: .5em 1em;
	font-weight: lighter;
	display: inline-block;
}

/* User Area */
.header-image {	
	width: 40px;
	border-radius: 50%;
}
.header-user-name {
	display: inline;	
	width: 140px;
	font-size: .8em;
	margin: 0 5px;
}

/* Notification */
.notification {
	display: inline;
	cursor: pointer;
	height: 1.5em;
}

.notification:hover, 
.notification:focus {	
	/*animation-iteration-count: infinite;*/
	animation: jingle 1s ease-out backwards infinite;
}

@keyframes jingle {
	30% {
		transform: rotate(10deg) scale(1.2);
	}
	50% {
		transform: rotate(0deg) scale(1);
	}
	80% {
		transform: rotate(-10deg) scale(1.2);	
	}
	100% {
		transform: rotate(0deg) scale(1);	
	}
}

.new-notification {
	fill: lightgreen;
	visibility: hidden;
}

/* Message box */

.message-modal {
	/* ==========
		This is the grey overlay that covers the screen. I made it this big
		so clicking out of the message box will allow you to close it
	==========*/
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
	background-color: rgba(0,0,0,0.4);
}

.modal-content {
	/* ==========
		The message content goes here. It should be in keeping with the page colour scheme
	==========*/
	background-color: rgb(115, 119, 191);
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888888;
	width: 80%;
	max-height: 80%;
	overflow: auto;
}

.close {
	/* ==========
		This wasn't necessary, but I felt a close button would make the page user friendly.
	==========*/
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	padding: 10px;
	margin: 20px;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.message-container {
	/* ==========
		This is an OL element that acts as a wrapper for individual messages. They can be styled with the .new-message class.
		Although I was happy enough with the base styling
	==========*/
	list-style-type: upper-roman;
}
.new-message {

}

/* ========== icons ========== */

.icon {
	/* ==========
		This is the default size for SVG icons.
	==========*/	
	max-width: 40px;
	max-height: 40px;	
	margin: 10px auto;
}

.currentTab {
	/* ==========
		Intended to be reassigned with JS. Allows the current page to be highlighted in the main nav
	==========*/
	border-left: 3px solid green;	
}




/* ========== Main Nav ========== */

#main-nav .icon {
	fill: rgb(166, 166, 185);
}
#main-nav {
	grid-area: main-nav;
	background: rgb(77, 76, 114);
}
#main-nav .icon:hover {
	fill:white;
}
#main-nav li {
	display: inline;
}



/* ========== Page Contents ========== */
.top-row {
	/* ==========
		This needed to be styled sepearely from .main-content-row to allow for more responsive design
	==========*/
	display: grid;
	grid-template-columns: 1fr 3fr 	
}

.tab-title {
	display: inline-block;
	margin: 0;
	padding: 1em;
	background: white;
	border-right: 1px solid black;
}


.main-search {
	float: right;	
	width: 90%;
	margin: auto 1em auto auto;	
	height: 1.5em;
}

#main-alert {
	margin: .5em auto;
	padding: .5em .5em;
	background: rgb(115, 119, 191);
	color: white;
	border-radius: 5px;
	width: 100%;
}
#main-alert a {
	color: white;
	float: right;
}



.two-columns {
	/* ==========
		This should only be 2 columns at higher resolutions, this is to force it back to one
	==========*/
	grid-template-columns: 1fr;
}



/* ========== Traffic Chart ========== */

/* ==========
		Most of the chart code is in the JS. However the period selections require styling
	==========*/
#traffic-canvas {
	height:30vh; 
	width:100%;
}
.traffic-time-filter {
	text-align: right;	
}
.traffic-period {
	display: inline-block;
	color: rgb(143, 143, 143);
	float: right;
	padding: 5px 15px;
}
 .traffic-period:hover {
 	cursor: pointer;
	border-radius: 20px;
	background: rgba(129, 201, 143, 0.5);
 }
 .highlighted {
	border-radius: 20px;
	background: rgba(129, 201, 143, 1);
	color: white;
 }




/* ========== Social Media ========== */
#social-media {		
	display: grid;	
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}
.social-card {	
	display: grid;
	grid-template-columns: 1fr 2fr;
	padding: 0.5em;
	background: rgba(200, 200, 200, 0.3);
	border: 2px solid rgba(200, 200, 200, 1);
	margin-bottom: .4em;	
}
.social-icon {
	height: 100%;
}
.social-icon svg {	
	height: 4em;
	width: 4em;	
	fill: white;
	background: rgb(115, 119, 191);
	border-radius: 50%;
	margin-top: 10px;
}
.social-updates {
	padding: 0.5em;	
	text-align: center;	
}
.social-title {	
	margin: 0;
	color: rgb(115, 119, 191);
	font-size: 1.5em;
	font-weight: bolder;
}
.social-hits {
	color: rgba(180, 180, 180, 1);
	margin: 0;
	font-size: 2.5em;
	font-weight: lighter;
} 


/* ========== User Cards ========== */
/* ==========
		This area describes card templates that can then be applied to the Members and recent activity sections
		with a standard look, size and shape
	==========*/
/* ===== Members / Recent Activity ===== */

#member-updates {
	display: grid;
	grid-template-columns: 1fr;	
}
.user-card {	
	max-height: 6em;
	padding: 20px 5px;
	height: 100px;
	margin: 0 1em;
	vertical-align: center;
	font-size: .9em;
	/*overflow: hidden;*/
	border-top: 1px solid rgb(216, 216, 216);
}
.user-card:first-of-type {
	border: 0;
}
.user-card > img {
	float: left;
	max-height: 3em;
	border-radius: 50%;
	margin-right: 10px;
}
.user-card  > p {
	margin: 0;
	text-align: left;
	padding: 0;
}
.user-card > p:first-of-type {
	font-weight: bolder;
}




/* ========== Message Settings ========== */
#message-user,
#settings {
	/* ==========
		This is applied to #settings ahead of time just ensure a similar look for that row
	==========*/
	padding: 0 1em;
}
.user-message-form {
	width: 100%;
}
.user-message-contents  {
	margin-top: 1.2em;
	min-height: 10em;
}

.send {
	width: 100%;
}

input,
textarea,
select {
	/* ==========
		For a similar look and feel. I removed this from base styles because it only relates to this section
	==========*/
	background: rgb(251, 251, 251);
	padding: .8em .8em;
	margin: .6em 0;
	width: 100%;
}


/* ===== User Search ===== */
/* ==========		
		This creates a drop down menu based on search results.
		It has a similar look to the rets of the page. Although I decided to make the results
		slighly transparent to not fully obscure any typed message
	==========*/

.user-search {
	margin-bottom: 0;
}
.search-results {	
	position: absolute;
	display: flex;
	z-index: 1;
	margin: auto 0;
	/*min-width: 200px;*/
	color: white;		
}
.result {
	display: block;
	border: 1px solid white;
	background: rgba(115, 119, 191, 0.8);
	padding: 1em;
}
.result:hover {
	background: rgba(115, 119, 191, 1);
	cursor: pointer;
}


/* ========== Settings ========== */

#settings {
	position: relative;
}
#settings h3 {
	margin-bottom: 2em;
}
.send-email {	
}
.set-public {	
}

.settings-option {
	margin: 1em 0;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}

label strong {
	width: 180px;
	display: inline;
	font-size: .8em;
}



/* ========== Media Queries ========== */


@media (max-width: 320px) {
	header {
	padding: 0;	
	text-align: center;
	}

	header div {
		float: none;
		width: 100%;
	}

	#main-content {
		padding: 0;
		max-width: 100%;
	}

	.your-app {	
		float: none;
	}

	.icon {
		max-width: 25px;
		/*margin: 0;*/
	}

	.notification {		
		margin: 0 10px;
	}



	.modal-content {
		/* ==========
			The message content goes here. It should be in keeping with the page colour scheme
		==========*/
		margin: auto 0;
		padding: 10px;	
		width: 100%;
		max-height: 90%;
	}

	.close {
		color: #ffffff;
	}

	.close:hover, .close:focus {
		color: #aaaaaa;
	}


	.traffic-time-filter {
		text-align: center;	
		width: 100%;
	}
	.traffic-period {
		display: inline-block;
		color: rgb(143, 143, 143);
		float: right;		
		width: 25%;
		/*padding: 5px 15px;*/
	}

	 .highlighted {	 	
		color: white;
	 }




}

@media (min-width: 768px) {
	#grid-wrapper {
		margin: 0;
	}

	.main-search {
		width: 40%
	}

	#main-alert {
		width: 95%;
	}

	.page-content {
	grid-template-columns: 80px 1fr;
	grid-template-areas: 
		"main-nav main-content";
	}
	.two-columns {
		grid-template-columns: 1fr 1fr;
	}

	.two-columns > section {
		padding: 1em;
		border-right: 1px solid rgb(216, 216, 216);
		border-top: 1px solid rgb(216, 216, 216);
	}



	#social-media {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr;
		margin-bottom: 1.5em;
		grid-gap: 1em;
	}
	.social-card:first-of-type {
		margin-left: 1em;
	}
	.social-card > p {
		text-align: right;
		margin: 1em 0;
	} 
	.social-card:last-of-type {
		margin-right: 1em;
	}


	#member-updates {
		grid-template-columns: repeat(2, 1fr);	
	}

	#member-updates > section {
	}
	.user-card {
		overflow: none;
	}

	.user-card > img {
		float: left;
		max-height: 3em;
		border-radius: 50%;
		margin-right: 10px;
	}

	.user-card  > p {
		margin: 0;
		text-align: left;
		padding: 0;
		
	}


	.user-card > p:first-of-type {
		font-weight: bolder;
	}

	#message-user,
	#settings {
	padding: 0 1em;
	}

	.error {
	border: 2px solid red;
	}

	.search-results {		
		min-width: 200px;
	}


	.vertical-spacer {
		position: absolute;
		left: 1em;
		bottom: 0;
	}


}

/* ========== temporary fixes ========== */

